<div class="text-center mb-5">
  <a class="menu-item" (click)="goToLogin()">
    <i [class]="'pi pi-fw pi-arrow-left '"></i>
    <span>{{ "Voltar" }}</span>
  </a>
  <img [src]="'/assets/logo2.jpeg'" style="width: 130px; height: 130px" />
  <div class="text-900 text-3xl font-medium mb-3">Cadastre-se agora!</div>
</div>

<div>
  <label for="name" class="block text-900 font-medium mb-2"
    >Nome Completo</label
  >
  <input
    id="name-register"
    type="text"
    placeholder="Nome Completo"
    pInputText
    class="w-full mb-3"
    name="name-login"
    [(ngModel)]="newUser.name"
  />

  <label for="email" class="block text-900 font-medium mb-2">Email</label>
  <input
    id="email-register"
    type="text"
    placeholder="E-mail"
    pInputText
    class="w-full mb-3"
    [(ngModel)]="newUser.email"
  />

  <label for="password" class="block text-900 font-medium mb-2">Senha</label>
  <input
    id="password-register"
    type="password"
    placeholder="Senha"
    pInputText
    class="w-full mb-3"
    [(ngModel)]="newUser.password"
  />

  <label for="password" class="block text-900 font-medium mb-2"
    >Confirmar Senha</label
  >
  <input
    id="confirm-password-register"
    type="password"
    placeholder="Confirmar Senha"
    pInputText
    class="w-full mb-3"
    [(ngModel)]="confirmPassword"
  />

  <button
    [disabled]="disableButton()"
    pButton
    pRipple
    label="Criar Conta"
    icon="pi pi-user"
    class="w-full"
    (click)="registerUser()"
    (touchstart)="registerUser()"
  ></button>
</div>
