<div class="curriculum">
  <div class="header">
    <div class="name-profession">
      <span class="name">{{ user?.name }}</span>
      <span class="profession">{{ currentPosition?.employer }}</span>
    </div>
    <div class="contact">
      <ng-container *ngIf="user?.github">
        <a [href]="user?.github" class="no-underline font-bold link">{{
          user?.github?.split("//")[1]
        }}</a>
      </ng-container>
      <ng-container *ngIf="user?.linkedin">
        <a [href]="user?.linkedin" class="no-underline font-bold link">{{
          user?.linkedin?.split("//")[1]?.split("www.")[1]
        }}</a>
      </ng-container>
      <a class="email">{{ user?.email }}</a>
      <a class="phone">{{ user?.phone }}</a>
    </div>
  </div>
  <p-divider></p-divider>
  <div class="about-me">
    {{ curriculum?.aboutMe }}
  </div>
  <p-divider></p-divider>
  <div class="flex flex-column">
    <div class="flex gap-5">
      <div class="flex flex-column w-6">
        <span class="name mb-2"> Experiência </span>
        <div
          class="flex flex-column gap-1"
          [ngClass]="{
            'mb-3': i < curriculum?.professionalExperience?.length - 1
          }"
          *ngFor="
            let experience of curriculum?.professionalExperience;
            index as i
          "
        >
          <span class="title">{{ experience?.employer }} </span>
          <span class="title">{{ experience?.office }}</span>
          <span class="head">{{
            (experience?.startDate | date : "MMM d, y") +
              " - " +
              (experience?.endDate
                ? (experience?.endDate | date : "MMM d, y")
                : "Atual")
          }}</span>
          <span class="head">{{ experience?.responsibility }}</span>
          <span class="description">{{ experience?.description }}</span>
        </div>
      </div>

      <div class="flex flex-column w-6">
        <span class="name mb-2"> Formação </span>
        <div
          class="flex flex-column gap-1"
          [ngClass]="{
            'mb-3': i < curriculum?.professionalExperience?.length - 1
          }"
          *ngFor="let education of curriculum?.academicEducation; index as i"
        >
          <span class="title">{{
            education?.schoolName + " - " + education?.courseName
          }}</span>
          <span class="head">{{
            (education?.startDate | date : "MMM d, y") +
              " - " +
              (education?.endDate
                ? (education?.endDate | date : "MMM d, y")
                : "Atual")
          }}</span>
        </div>
      </div>
    </div>
    <p-divider></p-divider>

    <div class="flex justify-content-between">
      <div class="flex flex-column">
        <span class="name mb-3"> Habilidades e Idiomas </span>
        <div class="flex flex-column gap-3 flex-wrap" style="max-height: 240px">
          <div class="flex gap-3" *ngFor="let skill of curriculum?.skill">
            <span>{{ skill?.name }} </span>
            <p-rating
              [(ngModel)]="skill.level"
              [cancel]="false"
              [stars]="7"
            ></p-rating>
          </div>

          <div class="flex gap-3" *ngFor="let language of curriculum?.language">
            <span>{{ language?.name }} </span>
            <p-rating
              [(ngModel)]="language.level"
              [cancel]="false"
              [stars]="7"
            ></p-rating>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
