/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toast {
  width: 460px !important;
}

.toast-title {
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 150%;
  color: var(--gray-dark);
  font-weight: 400;
  padding-top: 8px;
}

.toast-icon {
  left: -40px;
}

.p-calendar {
  min-width: 100%;
}

.p-inputmask:first-child {
  width: 100%;
}
